

.social-media{
    height:60px;
    width: 100%;
    background-color: #939473;
    margin-top: 40px;
    display:flex;
    justify-content:center;
    align-items:center;
    
    
}
.footer{
     background-color: #939473;
     text-align: center;
     margin-bottom: 8px;
}

    a + a{
        margin-left: 10px;
    }